.page-btn{
    padding: 10px;
    border: none;
    font-size: large;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(17, 17, 17);
    color: white;
    transition: 0.4s;
    transition-timing-function: ease;
}
.page-btn a{
    text-decoration: none;
    color: white;
}
.page-btn {
    text-decoration: none;
}
.page-btn:hover{
    background-color: rgb(94, 47, 94);
}